@use '../../styles/reset';
@use '../../styles/variables' as v;

.single-deck-container {
    width: 200px;
    height: 350px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 1rem 1rem;
    border-radius: 5px;
    box-shadow: v.$box-shadow-2;
    justify-content: space-between;
}

.single-deck-title {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

.single-deck-image-container {
    margin-bottom: 1rem;
}

.single-deck-actions-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.confirm-modal-actions {
    display: flex;
    justify-content: space-around;
}