@use "../../styles/reset";
@use "../../styles/variables" as v;

.header {
  box-shadow: v.$box-shadow;
  color: v.$font-color-dark;
  background-color: v.$background-color-header;
  // border-radius: 5px 5px 0px 0px / 5px 5px 5px 5px;
  // Règles pour rendre le header fixe au défilement
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 15vh;
  z-index: 100;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header-logo {
  width: 25%;
  margin: 0 auto;
  transition: v.$transition-speed;
  margin-left: 1rem;
  margin-right: -1rem;
}

.header-logo:hover {
  cursor: pointer;
}

@media screen and (min-width: 950px){
  .header {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem;
    transition: v.$transition-speed;
  };
};

@media screen and (max-width: 949px){
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    min-height: 10vh;
    width: 100vw;
    transition: v.$transition-speed;
    font-size: v.$font-size * 3;
  };

};
