@use "../../styles/reset";
@use "../../styles/variables" as v;

.home {
  width: 90vw;
  // min-height: 100vh;
  margin: 0 auto;
  background: v.$background-color-app;
  transition: v.$transition-speed;
  box-shadow: v.$box-shadow;
  color: v.$font-color;
}
