@font-face {
    font-family: "Stone Serif Semibold";
    src: url("fonts/Stone Serif Semibold.ttf") format("truetype");
  }

@font-face {
    font-family: "Yu-Gi-Oh! ITC Stone Serif LT Italic";
    src: url("fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.ttf") format("truetype");
  }

@font-face {
    font-family: "Yu-Gi-Oh! ITC Stone Serif Small Caps Bold";
    src: url("fonts/Yu-Gi-Oh! ITC Stone Serif Small Caps Bold.ttf") format("truetype");
  }

@font-face {
    font-family: "Yu-Gi-Oh! Matrix Book";
    src: url("fonts/Yu-Gi-Oh! Matrix Book.ttf") format("truetype");
  }

@font-face {
    font-family: "Yu-Gi-Oh! Matrix Regular Small Caps 1";
    src: url("fonts/Yu-Gi-Oh! Matrix Regular Small Caps 1.ttf") format("truetype");
  }

@font-face {
    font-family: "Yu-Gi-Oh! Matrix Regular Small Caps 2";
    src: url("fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf") format("truetype");
  }