$font-family: 'Roboto', sans-serif;
$font-size: 62.5%;

$background-color-yugioh: linear-gradient(0deg, rgba(16,15,19,1) 0%, rgba(20,34,70,1) 35%, rgba(91,34,60,1) 100%);
$background-color-header: rgba(231, 231, 231, 25%);
$background-color-footer: rgba(151, 150, 150, 0.5);
$background-color-app: rgba(60,74,110, 66%);

$font-color: rgb(231, 231, 231);

$box-shadow: 0px 10px 50px 33px rgba(0,0,0,0.1);

$transition-speed: 0.2s;