$font-family: 'Roboto', sans-serif;
$font-size: 62.5%;

$background-color-yugioh: linear-gradient(0deg, rgba(16,15,19,1) 0%, rgba(20,34,70,1) 35%, rgba(71, 35, 56, 80%) 100%);
$background-color-header: rgba(180, 180, 180, 95%);
$background-color-footer: rgba(151, 150, 150, 0.5);
$background-color-app: rgba(60,74,110, 66%); //3ème pour le gradient

$font-color: rgb(231, 231, 231);
$font-color-test: rgba(71, 35, 56, 80%);
$font-color-dark: rgb(16,15,19);
$font-color-error: rgb(190, 0, 0);

$raw-color-blue: rgb(46,53,78);
$raw-color-blue-bright-1: rgb(96, 103, 128);
$raw-color-blue-bright-3: rgb(146, 153, 178);

$box-shadow: 0px 10px 50px 33px rgba(0,0,0,0.1);

$transition-speed: 0.2s;