@use '../../styles/variables.scss' as v;
@use '../../styles/reset.scss';


.signup-container {
  margin: 0 auto;
  min-height: 95vh;
  width: 95vw;
  background: v.$background-color-app;
  box-shadow: v.$box-shadow;
  transition: v.$transition-speed;
}

.signup-container-background {
  background-color: white;
  margin: 0 auto;
  width: 98%;
  min-height: 95vh;
}

.page-title {
  font-size: v.$font-size * 3.2;
  color: v.$font-color-dark;
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
  padding-top: 15vh;
}

.signup-form {
  margin: 0 auto;
  margin-top: 2rem;
  font-size: v.$font-size * 2.4;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.signup-input-email {
  margin-top: 1rem;
}

.signup-input-password {
  margin-top: 1rem;
}

.test {
  margin: 0 auto;
  z-index: 100;
}